body {
  background-image: url('wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  overflow: hidden;
  
}

.snowflake {
  position: fixed;
  top: -10px;
  color: white;
  font-size: 1em;
  user-select: none;
  pointer-events: none;
  animation: fall linear infinite;
    }

    @keyframes fall {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
      }
    }

body::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.3);
  position: absolute;
}

.menu {
background-color: rgba(0,0,0,0.5);
width: 500px;
height: 500px;
margin-top: 10%;
margin-left: 30%;
margin-bottom: 10%;
margin-right: 30%;
border: rgb(255, 0, 255);
border-radius: 20px;
border-style: solid; 

}

#pleiades {
  color: rgb(255, 255, 255);
  padding-left: 38%;
  padding-top: 10px;
  font-size: 20px;
  text-shadow: 0 0 25px #ff4bd8, 0 0 30px #ff55aa; 
  animation: neon 5s ease-in-out infinite alternate, flickering 5s infinite;
}

#alcyone {
  color: rgb(255, 255, 255);
  padding-left: 45%;
  padding-top: 20px;
  font-size: 20px;
  text-shadow: 0 0 25px #5052ff, 0 0 30px #49adff; 
  animation: neon 2s ease-in-out infinite alternate, flickering 2s infinite;
}

.link-container {
      display: flex;
      justify-content: flex-end;
      gap: 20px; 
      padding: 5px 160px;
      background-color: rgba(255, 255, 255, 0);
      padding-left: 100px;
    }

.link-container a {
      color: rgb(194, 194, 194);
      font-size: 20px;
      text-decoration: none;
      z-index: 10;
      padding-left: 5%;
      text-shadow: 0 0 25px #e7e7e7, 0 0 30px #a1a1a1; 
      animation: neon 2s ease-in-out infinite alternate, flickering 2s infinite;
    }

#Taygete {
  color: rgb(255, 255, 255);
  padding-left: 45%;
  padding-top: 0px;
  font-size: 20px;
  text-shadow: 0 0 25px #5a3b38, 0 0 30px #833f00; 
  animation: neon 2s ease-in-out infinite alternate, flickering 2s infinite;
}

#random {
  color: #ffffff;
  text-align: center;
}

#github:hover {
  color: #5052ff;
}

#discord:hover {
color: #5052ff;
}

#github:active {
  color: aquamarine;
}

#discord:active {
  color: aquamarine;
}
